<div class="d-flex justify-content-center">
	
	<div class="row">
		<div class="col-lg-12">

			<% if( success_msg.length > 0 ) { %>
				<div class="alert alert-success"><%= success_msg %></div>
			<% } %>

			<% if( error_msg.length > 0 ) { %>
				<div class="alert alert-success"><%= error_msg %></div>
			<% } %>

			<% if( error.length > 0 ) { %>
				<div class="alert alert-danger"><%= error %></div>
			<% } %>
		</div>
	</div>
</div>