<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Event-Appa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/#home">Home</a>
          <a class="dropdown-item" href="/#about">About Us</a>
          <a class="dropdown-item" href="/#contact">Contact Us</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ">
      <% if(user) { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="DropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.name %><span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="DropdownMenu">
            <a class="nav-link" href="/users/logout">LogOut<span class="sr-only">(current)</span></a>
        </div>
      </li>
      <% } else{ %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="DropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
          </a>
          <div class="dropdown-menu" aria-labelledby="DropdownMenuLink">
            <a class="nav-link" href="/users/login">Login<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/users/register">Register</a>
          </div>
        </li>
        <% } %>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/dashboard/eventregister">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Create Event</button>
    </form>
  </div>
</nav>
